<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" type="text/css" href="../css/icofont.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../css/index.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Metis Commerce</title>
</head>
<body>
    <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="#">METIS</a>
            </h1>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="contact-us-btn scrollto">Contact Us</a>
        </div>
    </header>
    <section id="home" class="d-flex align-items-center justify-content-center" style="background-image: url(../assets/header/liquid.png);">
        <canvas class="rgb" id="mvCanvas"></canvas>
        <div class="container" data-aos="fade-up" data-aos-once="true">
            <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="150" data-aos-once="true">
                <div class="col-xl-6 col-lg-8">
                <h1>METIS COMMERCE</h1>
                <h3>IT'S MORE THAN JUST A BRAND</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-xl-12 col-lg-12" data-aos="fade-up" data-aos-delay="350" data-aos-once="true">
                    <img src="../assets/header/imac asset/imac.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section id="about" class="about">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-6 col-lg-6 order-xl-first order-lg-first order-last mt-5 mt-xl-0 mt-lg-0">
                        <h1 class="about-header pb-5 d-flex" data-aos="fade-right" data-aos-delay="150" data-aos-once="true">ABOUT METIS</h1>
                        <p class="about-content pb-5" data-aos="fade-up" data-aos-delay="350" data-aos-once="true">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto exercitationem praesentium cupiditate quod magni atque consectetur quae, eum, voluptates perferendis a distinctio perspiciatis saepe non quasi tempora consequuntur. Enim, beatae!
                        </p>
                        <a href="#" class="about-read-more-btn mb-5" data-aos="fade-left" data-aos-delay="350" data-aos-once="true">
                            <div>READ MORE </div>
                            <div class="line-read"></div>
                        </a>
                    </div>
                    <div class="col-xl-6 col-lg-6 order-xl-last order-lg-last order-first mb-5 mb-xl-0 mb-lg-0" data-aos="fade-left">
                        <img src="../assets/about metis/macbookpro.png" width="100%">
                    </div>
                </div>
                <div class="row mt-5 brand-partners" data-aos="zoom-in-up" data-aos-delay="400">
                    <div class="col-xl-12 col-lg-12">
                        <h2 class="d-flex justify-content-center mt-5">Metis Brand Partners</h2>
                    </div>
                    <section>
                        <div class="container">
                            <div class="owl-carousel owl-theme justify-content-center">
                                <div class="item">
                                    <img src="../assets/brand partners/adobe.png">
                                  </div>
                                  <div class="item">
                                      <img src="../assets/brand partners/aws.png">
                                  </div>
                                  <div class="item">
                                      <img src="../assets/brand partners/grab.png">
                                  </div>
                                  <div class="item">
                                      <img src="../assets/brand partners/shopify.png">
                                  </div>
                                  <div class="item">
                                      <img src="../assets/brand partners/wordpress.png">
                                  </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class=" col-xl-12 col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-once="true">
                        <h1 class="services-header mb-5">OUR SERVICES</h1>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box" style="background-image: url('../assets/services/product-listing.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Product Listing Images</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box" style="background-image: url('../assets/services/social-media.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Social Media <br/> Posting Images</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box" style="background-image: url('../assets/services/product-video.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Product Video</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box" style="background-image: url('../assets/services/copywriting.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Copywriting</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box"  style="background-image: url('../assets/services/seo-optimization.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Service Engine Optimization</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box"  style="background-image: url('../assets/services/packaging-design.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Packaging Design</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box" style="background-image: url('../assets/services/logo-and-branding-design.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Logo & Branding Design</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center" data-aos="zoom-in-up" data-aos-delay="100" data-aos-once="true">
                        <div class="services-box"  style="background-image: url('../assets/services/web-development.png'); background-size: cover;">
                            <h1 class="d-flex justify-content-center" data-aos="fade-left" data-aos-delay="400" data-aos-once="true">Web Development</h1>
                            <p data-aos="fade-right" data-aos-delay="300" data-aos-once="true">View Service <i class="icofont-arrow-right"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="d-flex item-align-center justify-content-center">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12 col-lg-12 mb-5">
                        <h2 class="d-flex justify-content-center" data-aos="fade-up" data-aos-once="true">OUR TEAM CHIEFS</h2>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 mb-4">
                        <div class="card" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
                            <img src="../assets/team/johndoe.jpg" class="card-img-top img-fluid" alt="...">
                            <div class="card-links d-flex justify-content-center">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Niels Peters</h5>
                              <p class="card-text">Chief Executive Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 mb-4">
                        <div class="card" data-aos="fade-up" data-aos-delay="200" data-aos-once="true">
                            <img src="../assets/team/johndoe.jpg" class="card-img-top img-fluid" alt="...">
                            <div class="card-links d-flex justify-content-center">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">John Andrei Navarro</h5>
                              <p class="card-text">Chief Operating Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6  mb-4">
                        <div class="card" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
                            <img src="../assets/team/johndoe.jpg" class="card-img-top img-fluid" alt="...">
                            <div class="card-links d-flex justify-content-center">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Boris van Ast</h5>
                              <p class="card-text">Chief Sales Officer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="card" data-aos="fade-up" data-aos-delay="400" data-aos-once="true">
                            <img src="../assets/team/johndoe.jpg" class="card-img-top img-fluid" alt="...">
                            <div class="card-links d-flex justify-content-center">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Tim van Ast</h5>
                              <p class="card-text">Chief Financial Officer</p>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
        <section id="contact">
            <div class="container align-items-center justify-content-center">
                <div class="row">
                    <div class="col-xl-5 col-lg-5" data-aos="fade-up" data-aos-once="true">
                        <div class="contact-line"></div>
                        <div class="contact-us"> 
                            <h1 class="mt-3">CONTACT US</h1>
                            <p>Monteger libero neque, lobortis et bebendum eu,<br/>porttitor ac elit. Vivamus id pur nim.</p>
                        </div>
                        <div class="contacts mt-5">
                            <div class="email" data-aos="fade-up" data-aos-delay="150" data-aos-once="true">
                                <p><i class="icofont-envelope"></i> XXXXXXXXXX@xxx.com</p>
                            </div>
                            <div class="phone" data-aos="fade-up" data-aos-delay="350" data-aos-once="true">
                                <p><i class="icofont-iphone"></i> +000-000-0000</p>
                            </div>
                            <div class="location" data-aos="fade-up"  data-aos-delay="550" data-aos-once="true">
                            <p><i class="icofont-location-pin"></i> Monteger libero nequepor ttitor aceli, 0000</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-xl-7 col-lg-7 d-flex align-items-center mt-lg-0 mt-5 justify-content-center">
                        <div class="contact-card shadow-sm" data-aos="fade-left" data-aos-once="true">
                            <h1>
                                Lorem ipsum dolor sit amet
                            </h1>
                            <form>
                                <div class="form-group required mt-5">
                                    <label for="name" class="control-label" data-aos="fade-left" data-aos-delay="150" data-aos-once="true">
                                        Name <i class="required"></i>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Enter your name" data-aos="fade-up" data-aos-delay="250" data-aos-once="true">
                                </div>
                                <div class="form-group required mt-5">
                                    <label for="name" class="control-label"  data-aos="fade-left" data-aos-delay="350" data-aos-once="true">
                                        Email <i class="required"></i>
                                    </label>
                                    <input type="email" class="form-control" placeholder="Enter your email" data-aos="fade-up" data-aos-delay="450" data-aos-once="true">
                                </div>
                                <button type="button" class="mt-5 contact-us-send-btn" data-aos="fade-up" data-aos-delay="550" data-aos-once="true">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-header-title">
                            <h2>METIS</h2>
                        </div>
                        <div class="social-media-links mt-3">
                            <a href="#" title="facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" title="twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" title="instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" title="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-lg-0 mt-xl-0 mt-5">
                        <ul>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Services</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 mt-lg-0 mt-xl-0 mt-5">
                        <ul>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Terms and Conditions</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <i class="fa fa-chevron-right"></i>
                                <a href="#">Cookie Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer d-flex align-items-center justify-content-center">
            <p>&copy; Copyright Metis Commerce 2021. All Rights Reserved.</p>
        </div>
    </footer>
    <button class="back-to-top-btn" title="Back to top">
        <i class="icofont-arrow-up"></i>
    </button>
    
    <script src="https://kit.fontawesome.com/7d2c6da575.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../js/layout.js" type="text/javascript"></script>


    <nav class="mobile-nav d-lg-none">
        <ul>
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#team">Team</a></li>
        </ul>
    </nav>
    <div class="mobile-nav-overly d-lg-none" style="display: none;"></div>
</body>

</html>
